.navbars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding: 1em 3em;
    color: whitesmoke;
    background: transparent;
    width : 100vw;
    position: fixed;
    z-index: 100;
}

.navbars h1 {
    cursor: pointer;
    text-shadow: 1px 4px 7px rgba(0,0,0,0.6);
}

.navigate {
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.navigate a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-shadow: 1px 4px 7px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}